body {
    font-family:Arial,sans-serif;
    margin:0;
    padding:0;
    background: #111827;
    color: #F9FAFB;
 }

 header  {
    background: #1f2937;
    padding: 20px;
    text-align: center;
 }